{{> head}}
{{>navbar}}


<div class="row"> 

<div class="col-8">
    <h1>capitan america</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate itaque autem neque repudiandae, cumque voluptatibus molestiae ullam excepturi unde corporis laudantium soluta! Quae earum suscipit odio qui consequuntur saepe distinctio.
    </p>
</div>

<div class="col-4">
<img src="assets/img/examen.jpg" class="img-thumbnail">
</div>

</div>

{{>footer}}